<div id="wrapper">

  <!-- Sidebar -->
  <ul id="sidebar">

    <!-- Logo Sidebar -->
    <a class="sidebar-logo">
      <div class="sidebar-logo-text">QCMaker</div>
    </a>

    <!-- Divider -->
    <mat-divider></mat-divider>

    <!-- Nav Item - Accueil -->
    <li class="nav-item-accueil">
      <a class="" href="index.html">
        <mat-icon>home</mat-icon>
        <span>ACCUEIL</span></a>
    </li>

    <!-- Nav Item - Mes QCM -->
    <li class="nav-item-mesQCM">
      <a class="" href="index.html">
        <mat-icon>home</mat-icon>
        <span>MES QCM</span></a>
    </li>

    <!-- Nav Item - Mes Etudiants -->
    <li class="nav-item-mesEtudiants">
      <a class="" href="index.html">
        <mat-icon>home</mat-icon>
        <span>MES ETUDIANTS</span></a>
    </li>

    <!-- Nav Item - Mes Statistiques-->
    <li class="nav-item-mesStatistiques">
      <a class="" href="index.html">
        <mat-icon>home</mat-icon>
        <span>MES STATISTIQUES</span></a>
    </li>
    <mat-divider></mat-divider>

  </ul>
</div>
