<div class="body">
  <div class="div1">
    <mat-form-field appearance="fill" id="notation">
      <mat-label>Réponse</mat-label>
      <input id="reponse" #reponse matInput (keyup)="modifyReponse(reponse.value)" (keyup.backspace)="deleteReponse()" value="{{reponseNum}}" type="number">
    </mat-form-field>
  </div>
  <div class="div2">
    <mat-form-field appearance="fill">
      <mat-label>Notation</mat-label>
      <input id="nota" matInput #notation (keyup)="modifyNotation(notation.value)" (keyup.backspace)="deleteNotation()" value="{{notationNum}}" type="number">
    </mat-form-field>
  </div>
</div>
