<div class="body">
  <div class="div1">
    <mat-form-field appearance="fill" id="faux">
      <mat-label>Faux</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="div2">
    <mat-form-field appearance="fill" id="ab">
      <mat-label>Assez Bien</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="div3">
    <mat-form-field appearance="fill" id="tb">
      <mat-label>Très Bien</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>
