<div class="wrapper">
  <div class="recent">
    <h1>Recents <i class="fa-solid fa-clock-rotate-left"></i></h1><br>
    <div class="list">
      <app-recents class="1"></app-recents>
      <app-recents class="2"></app-recents>
      <app-recents class="3"></app-recents>
      <app-recents class="4"></app-recents>
      <app-recents class="5"></app-recents>
      <app-recents class="6"></app-recents>
    </div>
  </div>
  <div class="qcm">
    <app-create [image]="'assets/img/3.svg'" [titre]="'CREER UN QCM'" [type]="'creer'" class="creer curseur"></app-create>
    <app-create [image]="'assets/img/2.svg'" [titre]="'MODIFIER UN QCM'" [type]="'modifier'" class="modifier curseur"></app-create>
  </div>
</div>
