<div class="body">
  <div class="divLeft">
    <div *ngFor="let reponse of question.reponses" class="reponses">
      <div class="reponse">
        <div class="mat1" [ngClass]="editMode === true ? 'curseur':''" (click)="modifyIsGodd(reponse)">
          <div class="mat" [ngClass]="editMode ===true ? 'not-selectable': ''">
            <mat-form-field [ngClass]="reponse.isGood ? 'selected' : ''" class="form-reponse" appearance="outline">
              <mat-label>Réponse {{question.reponses.indexOf(reponse)+1}}</mat-label>
              <input #inputRep matInput value="{{reponse.texte}}" (keyup)="modifyReponse(reponse, inputRep.value)">
            </mat-form-field>
          </div>
        </div>
        <mat-card class="curseur delete" (click)="deleteAnswer(reponse)"><img src="assets/img/icons8-cross-mark-96.png" alt=""></mat-card>
      </div>
    </div>
    <app-creation-add (click)="addAnswer()"></app-creation-add>
  </div>
  <div class="divRight">
    <mat-form-field appearance="outline" id="notation">
      <mat-label>Notation</mat-label>
      <input id="nota" matInput #notation (keyup)="modifyNotation(notation.value)" (keyup.backspace)="deleteNotation()" value="{{notationNum}}" type="number">
    </mat-form-field>
    <mat-card  [ngClass]="editMode ? 'good goodClick' : 'good goodIdle'" (click)="editMode ? editMode = false : editMode = true">Bonne réponse</mat-card>
  </div>
</div>



