<div class="body">
  <div class="div1">
    <mat-form-field appearance="fill" id="notation">
      <mat-label>Notation</mat-label>
      <input matInput type="number">
    </mat-form-field>
  </div>
  <div class="div2">
    <mat-form-field appearance="fill">
      <mat-label>Réponse 1</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="div3">
    <mat-card class="mat-card mat-focus-indicator" id="good">Bonne réponse</mat-card>
  </div>
  <div class="div4">
    <mat-form-field *ngFor="let reponse of question.reponses" class="categorie" appearance="fill">
      <mat-label>Réponse {{reponse.id}}</mat-label>
      <input matInput></mat-form-field>
      <app-creation-add class="categorie" (click)="addAnswer()"></app-creation-add>
  </div>
</div>



