<head>
  <title>Glassmorphism login Form Tutorial in html css</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="background">
  <div class="shape"></div>
  <div class="shape" id="second"></div>
  <div class="shape"></div>
</div>
<form>
  <h3>Connexion</h3>
  <label for="username">Nom d'utilisateur</label>
  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
  <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" placeholder="Nom d'utilisateur">
  <label for="password">Mot de passe</label>
  <input placeholder="Mot de passe" type="password" class="form-control" [(ngModel)]="password" id="password" name="password">
  <button (click)=connexion() class="btn btn-success">Se connecter</button>
</form>
</body>

