mat-toolbar{
  display: flex;
  line-height: 100%;
  color:#3F51B5;
  justify-content: center;
  background-color: #FFFFFF;
  margin-bottom: 2.5%;
}

img{
  width: 10%;
}

ul{
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.example-spacer {
  flex: 1 1 auto;
}

li a{
  text-decoration: none;
  color: var(--primary);
}
#user{
  color: #3F51B5;
}

mat-icon{
  color: #3F51B5;
}

