<mat-toolbar>
  <img src="assets/img/logoDeptaFull.png" alt="logo" draggable="false">
  <span class="example-spacer"></span>
  <ul>
    <li class="nav-item-accueil">
      <a class="" routerLink="/accueil">
        <span>ACCUEIL</span></a>
    </li>
    <li class="nav-item-mesQCM">
      <a class="" routerLink="/mesqcm">
        <span>MES QCM</span></a>
    </li>
    <li class="nav-item-mesEtudiants">
      <a class="" routerLink="/etudiants">
        <span>MES ETUDIANTS</span></a>
    </li>
    <!-- Nav Item - Mes Statistiques-->
    <li class="nav-item-mesStatistiques">
      <a class="" routerLink="/statistiques">
        <span>MES STATISTIQUES</span></a>
    </li>
    <li>
      <a *ngIf="isLoggedIn" class="nav-link" href="/statistiques" (click)=handleLogout()>LOGOUT</a>
    </li>
  </ul>
  <span class="example-spacer"></span>
  <div *ngIf="isLoggedIn" id="user">{{name}} <i class="fas fa-user-circle" id="ico"></i> </div>
</mat-toolbar>
