<mat-toolbar>
  <img src="assets/img/logoDeptaFull.png" alt="logo" draggable="false">
  <span class="example-spacer"></span>
  <ul>
    <li class="nav-item-accueil">
      <a class="" routerLink="/accueil">
        <span>ACCUEIL</span></a>
    </li>
    <li class="nav-item-mesQCM">
      <a class="" routerLink="/mesqcm">
        <span>MES QCM</span></a>
    </li>
    <li class="nav-item-mesEtudiants">
      <a class="" routerLink="/etudiants">
        <span>MES ETUDIANTS</span></a>
    </li>
    <li *ngIf="isAdmin =='true'" class="nav-item-gestionUtilisateurs">
      <a class="" routerLink="/users">
        <span>GESTION UTILISATEURS STATISTIQUES</span></a>
    </li>
  </ul>
  <span class="example-spacer"> </span>
  <div class="dropdown">
    <button *ngIf="isLoggedIn" (click)="onDisplayDropdown()" class="dropbtn"> {{name}} <i class="fas fa-user-circle" id="ico"></i></button>
    <div *ngIf="showDropDown" class="contenu-dropdown">
      <a (click)=handleLogout() href="" id="logout-item">Déconnexion</a>
    </div>
  </div>
</mat-toolbar>
