<mat-toolbar>
  <img src="assets/img/logoDeptaFull.png" alt="logo" draggable="false">
  <span class="example-spacer"></span>
  <ul>
    <li class="nav-item-accueil">
      <a class="" routerLink="/accueil">
        <span>ACCUEIL</span></a>
    </li>
    <li class="nav-item-mesQCM">
      <a class="" routerLink="/mesqcm">
        <span>MES QCM</span></a>
    </li>
    <li class="nav-item-mesEtudiants">
      <a class="" routerLink="/etudiants">
        <span>MES ETUDIANTS</span></a>
    </li>
<!--    <li *ngIf="isAdmin =='true'" class="nav-item-gestionUtilisateurs">-->
<!--      <a class="" routerLink="/users">-->
<!--        <span>GESTION UTILISATEURS STATISTIQUES</span></a>-->
<!--    </li>-->
  </ul>
  <span class="example-spacer"> </span>
  <div class="dropdown" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" >
    <button [hidden]="!isLoggedIn" (click)="onDisplayDropdown()" class="dropbtn" > <i class="fas fa-user-circle" id="ico"></i> {{name}} </button>
    <div [hidden]="!showDropDown" class="contenu-dropdown">
      <div class="ligne"><i class="fas fa-user-circle"></i><a routerLink="/monprofil"><span class="other-items">Mon profil</span></a></div>
      <div class="ligne"><i class="fa-solid fa-screwdriver-wrench"></i><a routerLink="/users"><span class="other-items"> Panel Admin</span></a></div>
      <div class="ligne" id="logout-item"><i class="fa-solid fa-right-from-bracket"></i><a (click)=handleLogout() href=""><span id="text-logout">Déconnexion</span></a></div>
    </div>
  </div>
</mat-toolbar>
