.input{
  background-color: #EBECF0;
  border: 0px;
  height: 3em;
  width: 70%;
  text-align: center;
  margin-bottom: 10px;
}
button{
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 0px;
  flex: 1 0 auto;
  min-height: 35px;
  weight: 25px;
  width: 10px;
  height: 10px;
}
#annuler{
  background-color: #5f5c5c;
  height: 2em;
}

#annuler:hover {
  text-decoration: underline;
  transition: 0.5s;
  width:60px;
}

#valider{
  background-color: #3f51b5;
  height: 2em;
}

#valider:hover {
  text-decoration: underline;
  transition: 0.5s;
  width:60px;
}

mat-form-field {
  margin: 5px;
}
.mat-dialog-container{
  padding: 30px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
