body{
  display: flex;
  justify-content: space-around;
  height: 85%;
}

i{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #3F51B5;
}

img{
  width: 25%;
}

.information{
  position: relative;
  width: 40%;
  height: fit-content;
  padding: 2%;
  background-color: #FFFFFF;
  border-radius: 10px;
}

mat-form-field.mat-form-field{
  color: #3F51B5;
  display: block;
}

.meslabel{
  width: 80%;
  display: flex;
}

.meslabel label{
  font-size: 1.2em;
}

mat-label{
  font-size: 1.5em;
  color: black;
}

input{
  color: #3F51B5;
}

.meslabel p{
  margin-left: 10%;
  color: #3F51B5;
}

.meslabel input{
  margin-left: 10%;
  color: #3F51B5;
}

.information h2{
  margin-left: 7%;
}
.info{
  display: flex;
  justify-content: space-around;
}

.image{
  background-color: gray;
  width: 30%;
}

.coordonnes{
  width: 50%;
  height: auto;
  line-height: 3em;
}

.password{
  padding: 2%;
  width: 20%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
}

h2{
  margin-bottom: 20px;
}

.name{
  margin:auto;
  width: 40%;
}

.note{
  margin: auto;
  width: 10%;
}

app-bouton{
  margin: auto;
}
