.select{
  text-align: center;
  border-radius: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  background-color: #3F51B5;
  line-height: 2rem;
  height: 1.2rem;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}
.not-select{
  text-align: center;
  border-radius: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  background-color: #7384E2;
  line-height: 2rem;
  height: 1.2rem;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
}

