.mat-form-field,{
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
}

.wrapper-bouton{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-around;
}
.bouton{
  width: 20%;
}
.wrapper-main{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
img{
  height: 17rem;
}
