

#topbar{
  margin-left: 13%;
  background-color: white;
  height: 8%;
  width: 87%;
}

#search{
  position: relative;
  top: 30%;
  margin-left: 4%;
  height: 40%;
}

input[type=text] {
  background-color: #EBECF0;
  border: 0px;
  height: 100%;
}

#user{
  position: relative;
  float: right;
  margin-right: 2%;
  font-size: 100%;
  color: #3F51B5;
}

#ico{
  margin-left: 5px;
}
