mat-toolbar{
  position: relative;
  line-height: 100%;
  background-color: white;
}
.example-spacer {
  flex: 1 1 auto;
}

input[type=text] {
  margin-left: 20px;
  background-color: #EBECF0;
  border: 0px;
  height: 20px;
}

#user{
  color: #3F51B5;
}

mat-icon{
  color: #3F51B5;
}

button{
  border: 0px;
}
