.mat-card{
  text-align: center;

  border-radius: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  height: 2rem;
  line-height: 2rem;
}
.selected{
  font-weight: normal;
  border-left: solid #3F51B5 4.3px;
}
.unselected{
  color: lighten(black,50%);
  font-weight: normal;
}
