/* You can add global styles to this file, and also import other style files */
.custom-dialog-container .mat-dialog-container {
  padding: 0;
  margin: 0;
}
:root{
--background: #EBECF0;
--white: #FFFFFF;
--black:#000000;
--primary: #3F51B5;
--on-primary: #7384E2;
--secondary: #B2B4B7;
--good: #7CE73B;
--error: #EB5945;
--warning: #F6BB42;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #EBECF0}
.curseur{
  cursor: pointer;
}
.errorMessage{
  background-color: var(--error);
}
.successMessage{
  background-color: var(--good);
}

