<body>
<form>
  <h1>Gestion d'utilisateur</h1>
  <br>
  <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" placeholder="Id ou Nom d'utilisateur">
  <div class="btn">
    <app-bouton name="Rechercher"></app-bouton>
  </div>
  <div class="options">
    <app-bouton name="Supprimer" (click)="open_dialogue_suppression()"></app-bouton>
    <app-bouton name="Modifier" (click)="open_dialogue_modification()"></app-bouton>
  </div>
  <div class="btn">
    <app-bouton name="Réinitialiser le mot de passe" (click)="open_dialogue_resiliation()"></app-bouton>
  </div>
</form>
<p *ngIf="error == true">{{errorMessage}}</p>
<p *ngIf="message != ''">{{message}}</p>
<router-outlet></router-outlet>
</body>


